body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4fd18a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

footer {
    background-color: #4fd18a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
body {
    background-color: black;
    color: white; /* Define a cor do texto como branco para garantir a legibilidade */
}
